/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=Rethink+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  margin: 0;
  padding: 0;
  background-color: #D9D9D9;
  font-family: "Rethink Sans", sans-serif;
}

@media only screen and (max-width: 40em) {
  main {
    margin-top: 5rem;
  }
  html {
    font-size: 15px;
  }
  div.title-box {
    height: 8rem;
  }
}
@media only screen and (min-width: 40em) {
  html {
    font-size: 20px;
  }
  div.title-box {
    height: 4rem;
  }
}
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.title-box {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
}

em {
  font-weight: bold;
}

h1 {
  color: #9D2525;
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

h3 {
  font-size: 2.3rem;
  font-weight: bold;
}

div.title-box {
  display: flex;
  flex-direction: column;
}

button.button-white {
  background-color: #ffffff;
  border: 1px solid #9D2525;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 1rem;
}

button.button-white-selected {
  background-color: grey;
  border: 1px solid #9D2525;
  border-radius: 0.4rem;
  font-size: 1rem;
}

button.invisible-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: start;
}

button:hover {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

main.basket h2 {
  text-align: center;
}
main.basket h3 {
  margin-left: 1rem;
  color: #9D2525;
  font-size: 1.7rem;
}
main.basket div.vertical em {
  align-items: center;
}
main.basket div.price {
  margin-right: 1rem;
}
main.basket section.products-box-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex start;
  padding: 1rem;
}
main.basket section.products-box-basket h2 {
  margin-bottom: 1rem;
}
main.basket section.products-box-basket img.background-img {
  width: auto;
  height: 4rem;
}
main.basket section.products-box-basket div.order-list.white {
  background-color: #ffffff;
}
main.basket section.products-box-basket div.order-list.grey {
  background-color: #f0f0f0;
}
main.basket section.products-box-basket div.product-basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}
main.basket section.products-box-basket div.product-basket button.invisible-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
main.basket section.products-box-basket div.product-basket button.invisible-button p {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 1em;
}
main.basket section.products-box-basket div.product-basket div.quantity-basket {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
main.basket section.products-box-basket div.product-basket div.quantity-basket p.red {
  font-weight: bold;
  color: #c5140f;
  font-size: 1.2em;
}
main.basket section.order-type-selection {
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
main.basket section.order-type-selection h3 {
  margin-bottom: 0.7em;
}
main.basket section.order-type-selection div.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
main.basket section.order-type-selection button {
  width: 8rem;
  height: 2rem;
}
main.basket section.order-type-selection button p {
  font-size: 1.3em;
}
main.basket section.delivery-address-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
main.basket section.delivery-address-box div.map-box {
  position: relative;
  height: 15rem;
  width: 90%;
  background-color: grey;
  border-radius: 0.2em;
  border: 1px solid #9D2525;
}
main.basket section.delivery-address-box h3 {
  margin-bottom: 1em;
}
main.basket section.delivery-address-box p {
  margin-bottom: 0.5em;
}
main.basket section.delivery-address-box form {
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
main.basket section.delivery-address-box form input {
  width: 70%;
  height: 2em;
  background-color: #ffffff;
  border: 1px solid #9D2525;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding-left: 1em;
}
main.basket section.comment-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.basket section.comment-box textarea {
  width: 80%;
  height: 2.2rem;
}
main.basket section.comment-box textarea::placeholder {
  font-weight: bold;
}
main.basket section.button-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.basket section.button-box h3 {
  margin-bottom: 1em;
}
main.basket section.button-box button {
  height: 4rem;
  font-size: 1.3em;
}

@media only screen and (max-width: 40em) {
  main.basket {
    display: flex;
    flex-direction: column;
  }
  main.basket div.title-box {
    width: 100%;
    height: 5rem;
  }
  main.basket section {
    margin-bottom: 1rem;
  }
  main.basket section.products-box-basket img.background-img {
    width: auto;
    height: 2rem;
  }
  main.basket section.order-type-selection {
    margin-bottom: 2rem;
  }
  main.basket section.comment-box textarea {
    height: 4rem;
  }
}
@media only screen and (min-width: 40em) {
  main.basket {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2rem 5rem 10rem 10rem 10rem 2rem;
    padding: 0 1rem;
    display: grid;
    gap: 3rem;
    justify-content: start;
    justify-content: start;
  }
  main.basket section.products-box-basket {
    grid-row: 2/5;
    grid-column: 1/4;
    border: 2px solid #9D2525;
    box-shadow: 0px 4px 4px 0px black;
    border-radius: 1rem;
    width: 100%;
  }
  main.basket div.title-box {
    grid-row: 1;
    grid-column: 1/6;
    margin-bottom: 0;
  }
  main.basket section.order-type-selection {
    grid-row: 2/3;
    grid-column: 4/6;
  }
  main.basket section.delivery-address-box {
    grid-row: 3/5;
    grid-column: 4/6;
  }
  main.basket section.comment-box {
    grid-row: 5/7;
    grid-column: 1/4;
  }
  main.basket section.button-box {
    grid-row: 5/7;
    grid-column: 4/6;
  }
}

/*# sourceMappingURL=basket.css.map */
