@use "input";

main.administration {
    width : 100%;

    section.list-box {
        display : flex;
        flex-direction: column;
        width : 90%;
        margin-left: 5%;
        margin-bottom: 1rem;

        

        button.add-button {
            width: 15em;
            height : 2.0em;
            font-size: 1em;
            font-weight: bold;
        }
    }

    section.button-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width : 90%;
        margin-left: 5%;
        min-height : 3rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        button {
            width: 10rem;
            height : 2.5rem;
            font-size: 1rem;
            font-weight: bold;
        }
    }

    img.image {
        height : 2rem;
    } 
}
  
@media only screen and (min-width : 64em) {

}

@media only screen and (min-width : 40em) and (max-width : 64em) {
    main.administration td.medium {
        display: none;
    }
}
  
@media only screen and (max-width : 40em) {
    main.administration {
        
        td.small {
            display : none;
        }
    
        td.medium {
            display: none;
        }

        section.button-box {
            button {
                width : 8rem;
            }
        }
    }
}