@use "input";

main.basket {
    

    h2 {
        text-align: center;
    }

    h3 {
        margin-left: 1rem;
        color : #9D2525;
        font-size: 1.7rem;
    }

    div.vertical em {
        align-items: center;
    }

    div.price {
        margin-right: 1rem;
    }

    section.products-box-basket {
        display : flex; 
        flex-direction: column;
        align-items: center;
        justify-content: flex start;
        
        padding : 1rem;

        h2 {
            margin-bottom: 1rem;
        }

        img.background-img {
            width : auto;
            height : 4rem;
        }

        div.order-list.white {
            background-color: #ffffff;
        }
    
        div.order-list.grey {
            background-color: #f0f0f0;
        }
    
        div.product-basket {
            display : flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width : 100%;
            height : 4rem;
    
            button.invisible-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding : 0;
    
                p {
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-left: 1em;
                }
            }

            div.quantity-basket {
                display : flex; 
                flex-direction:row;
                justify-content: space-around;
                width : 100%;
        
                p.red {
                    font-weight: bold;
                    color: #c5140f;
                    font-size: 1.2em;
                }
            }
        }
    }

    section.order-type-selection {
        border-radius: 0.5em;
        display : flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width : 100%;
        height : 100%;

        h3 {
            margin-bottom: 0.7em;
        }

        div.horizontal {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width : 80%;
        }

        button {
            width: 8rem;
            height : 2rem;

            p {
            font-size: 1.3em;
            }
        }
    }

    section.delivery-address-box {
        display : flex; 
        flex-direction: column;
        align-items: center;
        height: 100%;
        width : 100%;

        div.map-box {
            position : relative;
            height: 15rem;
            width : 90%;
            background-color: grey;
            border-radius: 0.2em;
            border : 1px solid #9D2525
        }

        h3 {
            margin-bottom: 1em;
        }

        p {
            margin-bottom: 0.5em;
        }

        form {
            border-radius: 0.3em;
            display : flex;
            flex-direction: column;
            align-items: center;
            width : 80%;

            input {
                width : 70%;
                height: 2em;
                background-color: #ffffff;
                border : 1px solid #9D2525;
                border-radius: 0.3em;
                margin-bottom: 1em;
                padding-left: 1em;
            }
        }
    }
    
    section.comment-box {
        height: 100%;
        width : 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        textarea {
            width: 80%;
            height : 2.2rem;
        }

        textarea::placeholder {
            font-weight: bold;
        }
    }

    section.button-box {
        width: 100%;
        height: 100%;
        display : flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            margin-bottom: 1em;
        }

        button {
            height : 4rem;
            font-size: 1.3em;
        }
    }
}

@media only screen and (max-width : 40em) {
    main.basket {
        display : flex;
        flex-direction: column;

        div.title-box {
            width : 100%;
            height: 5rem;
        }

        section {
            margin-bottom: 1rem;
        }

        section.products-box-basket {
            img.background-img {
                width : auto;
                height : 2rem;
            }
        }

        section.order-type-selection {
            margin-bottom: 2rem;
        }

        section.comment-box {
            textarea {
                height : 4rem;
            }
        }
    }
}
  
@media only screen and (min-width : 40em) {
    main.basket {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2rem 5rem 10rem 10rem 10rem 2rem;
        padding : 0 1rem;
        display: grid;
        gap: 3rem;
        justify-content: start;
        justify-content: start;

        section.products-box-basket {
            grid-row: 2/5;
            grid-column: 1/4;
            border : 2px solid #9D2525;
            box-shadow: 0px 4px 4px 0px black;
            border-radius: 1rem;
            width : 100%;
        }
    }
  
    main.basket div.title-box {
        grid-row: 1;
        grid-column: 1/6;
        margin-bottom: 0;
    }
  
    main.basket section.order-type-selection {
        grid-row: 2/3;
        grid-column: 4/6;
    }
  
    main.basket section.delivery-address-box {
        grid-row: 3/5;
        grid-column: 4/6;
    }
  
    main.basket section.comment-box {
        grid-row : 5/7;
        grid-column: 1/4;
    }
  
    main.basket section.button-box {
        grid-row: 5/7;
        grid-column: 4/6;
    }
  }