@use 'input';

form {
    @extend %vertical, %red-borders;
    border-radius: .4rem;
    align-items: center;
    // padding: 2.5em 1em 0 1em;
    margin-bottom: 2rem;

    input {
        @extend %red-borders;
        // width: 35rem;
        // height : 4rem;
        border-radius: 0.4rem;
        background-color: #fff;
        padding-left: 1rem;
    }
    
    input::placeholder {
        font-weight: bold;
    }

    div.connexion-navigation {
        @extend %vertical;
        margin-top: 1rem;
    }

    div.button-box {
        @extend %horizontal;
        justify-content: space-between;
        width : 70%;
        margin-top: 1rem;
    }

    div.button-box button {
        width : 40%;
    }

    label {
        margin-top: .5rem;
        font-weight: bold;
    }
}

@media only screen and (max-width : 600px) {
    form {
        width : 100%;
        border : none;
        box-shadow: none;
        background-color: #D9D9D9;

        button {
            width: 15rem;
            height : 2rem;
        }

        input {
            width: 17rem;
            height : 2rem;
        }
    }
}

// @media only screen and (min-width : 600px) {

// }

@media only screen and (min-width : 768px) {
    form {
        background-color: #f0f0f0;
        box-shadow: 0px 4px 4px 0px black;
        width : 30rem;
        height : auto;

        input {
            width: 25rem;
            height : 2rem;
        }

        button {
            width: 20rem;
            height : 2.5rem;
        }
    }
}