@use "input";



footer {
    @extend %vertical;
    margin-top: auto;
    background-color: #9D2525;
    width : 100%;
    height : 5rem;
    align-items: center;
    justify-content: center;


    p {
        font-size: 1rem;
        text-align: center;
    }
}

header {
    @extend %horizontal;
    background-color: #9D2525;
    width : 100%;
    height : 5rem;
    align-items: center;
    justify-content: space-between;

    nav {
        @extend %horizontal;

        a {
            text-decoration: none;
            color : black;
            font-size: 1rem;
            font-weight: bold;
            margin : 0 1rem;
        }
    }
    
    nav.Burger-user {
        @extend %vertical, %red-borders;
        position : absolute;
        right : 0.5em;
        top : 5rem;
        background-color: #ffffff;

        a {
            margin-bottom: 0.5em;
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width : 40em) {
    header {
        position : fixed;
        z-index: 2;

        nav.movable {
        width : 80%;
        justify-content: space-around;
        }

        button {
            margin-right: 2rem;
        }
    }
} 

@media only screen and (min-width : 40em) {
    header {
        nav.movable {
        width : 50%;
        justify-content: flex-start;
        }

        button {
            margin-right: 1rem;
        }
    }
}