@use 'input';

main.home {
    @extend %horizontal;
    flex-wrap: wrap;

    

    h2 {
        margin-bottom: 0.5rem;
    }

    p {
        margin-bottom: 0.1rem;
    }

    div.map-box {
        position: relative;
        width: 100%;
        height: 25rem;
        background-color: grey;
        border-radius: 0.2em;
        border : 1px solid #9D2525
    }

    div.banner {
        width: 100%;
        height : 15rem;
    
        img.image-banner {
            width: 100%;
            height : 100%;
        }
    }
    
}

@media only screen and (max-width : 600px) {
    main.home {
        div.banner {
            display : none;
        }

        section.map, section.horaires {
            width : 100%;
            margin : 0 1rem 1rem 1rem;
        }

        div.map-box {
            height: 20rem;
        }
    }
}

@media only screen and (min-width : 600px) {
    main.home {
        section.map, section.horaires {
            width: 40%;
            margin : 0 5%;
            margin-bottom: 1rem;
        }

        div.map-box {
            height: 20rem;
        }
    }
}