/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Rethink+Sans&display=swap');

html {
  margin : 0;
  padding : 0;
  background-color: #D9D9D9;
//   font-size: 20px;
  font-family: 'Rethink Sans', sans-serif;
}

@media only screen and (max-width : 40em) {
    main {
        margin-top: 5rem;
    }

    html {
        font-size: 15px;
    }

    div.title-box {
        height : 8rem;
    }
}

@media only screen and (min-width : 40em) {
    html {
        font-size: 20px;
    }

    div.title-box {
        height : 4rem;
    }
}

#root {
    margin : 0;
    display : flex;
    flex-direction: column;
    min-height: 100vh;
}

div.title-box {
    @extend %vertical;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

p  {
    font-size: 1.2rem;
}
em {
    font-weight: bold;
}

h1 {
    color: #9D2525;
    text-align: center;
    font-size: 3.6rem;
    font-weight: bold;
}

h2 {
    font-size: 2.8rem;
    font-weight: bold;
}

h3 {
    font-size: 2.3rem;
    font-weight: bold;
}



// p.status-message {
//     color : #c5140f;
//     font-weight: bold;
// }

%vertical {
    display : flex;
    flex-direction: column;
}

%horizontal {
    display: flex;
    flex-direction: row;
}

%red-borders {
    border: 1px solid #9D2525;
    border-radius: 0.5rem;
}


  
button.button-white {
    background-color: #ffffff;
    border: 1px solid #9D2525;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1rem;
}
  
button.button-white-selected {
    background-color: grey;
    border: 1px solid #9D2525;
    border-radius: 0.4rem;
    font-size: 1rem;
}

button.invisible-button {
    border : none;
    background-color: transparent;
    display : flex;
    align-items: start;
}

button:hover {
    cursor: pointer;
}
  
main {
    flex-grow: 1;
}
