@use "input";

main.order-order {
    section.status {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    h2 {
        text-align: center;
    }

    div.validate {
        margin-top: 1rem;
    }
}

@media only screen and (max-width : 40em) {
    main.order-order {
        display : flex;
        flex-direction: column;
        text-align: center;
    }
    
    section {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width : 40em) {
    main.order-order {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        gap : 2rem;
        margin : 0 2rem;
    }

    section.adresse, section.contenu {
        border : 2px solid #9D2525;
        box-shadow: 0px 4px 4px 0px black;
        border-radius: 1rem;
    }

    div.title-box{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    section.contenu {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    section.adresse {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    section.status {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    section.status button {
        width : 10rem;
        height : 2rem;
        margin : 0 1rem;
    }

    
}