@use "input";

main.payment {
    padding : 0 1rem;
    display : flex;
    flex-direction: column;
    align-items: center;

    #card-element-id {
        width : 70%;
        height: 2rem;
        
    }
      
    #card-element--focus {
    }


    div.title-box {
        height: 5rem;
    }

    section.recap, section.address{
        border : 2px solid #9D2525;
        box-shadow: 0px 4px 4px 0px black;
        border-radius: 1rem;
        width : 90%;
        padding: 0.5rem;
        margin-bottom: 1rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        h2 + p {
            text-align: center;
            font-weight: bold;
            color: #9D2525;
            margin-bottom: 0.5rem;
        }

        div {
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width : 40em) {
    main.payment {
        
    }
}

@media only screen and (min-width : 40em) {
    main.payment {
        section.recap, section.address{
            max-width: 40%;
        }
    }
}

main.success {
    display : flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    section {
        margin-bottom : 1rem;
    }
}

@media only screen and (min-width : 40em) {
    main.success {
        display : flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
         
        section {
            border : 2px solid #9D2525;
            border-radius: 0.5rem;
            margin-bottom : 1rem;
            padding: 1rem;
            box-shadow: 0px 4px 4px 0px black;
        }
    }
}