@use 'input';

//Timed small popup
div.timed-small-popup {
    @extend %red-borders;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 5;
    top : 1rem;
    background-color: #fff;
    min-height: 2rem;

    p {
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (max-width : 600px) {
    div.timed-small-popup {
        left : 50%;
        margin-left: -30%;
        width : 60%;
    }

}

@media only screen and (min-width : 600px) {
    div.timed-small-popup {
        left : 50%;
        margin-left: -15%;
        width : 30%;
    }
}

/////////////////////////////////
/////////////////////////////////
//Big popup middle screen
.big-popup {
    position : fixed;
    z-index: 2;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width : 40em) {
    .big-popup {
        top : 8%;
        left : 0;
        height : 92%;
        width : 100%;

        div.basket-picture {
            width: 100%;

            img {
                width : 90%;
                height : auto;
                margin-left: 5%;
                border-radius: 1rem;
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }

        p {
            margin-left: 1rem;
            font-size: 1.4rem;
        }

        button {
            position: fixed;
            z-index: 3;
            bottom: 2rem;
            width : 50%;
            height : 3rem;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (min-width : 40em) {
    .big-popup {
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #9D2525;
        border-radius: 0.5rem;
        padding : 1rem;
        max-height: 100%;

        div.basket-picture {
            text-align: center;
            width : 100%;

            img {
                width : 65%;
                height : auto;
                border-radius: 1rem;
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }

        p {
            margin-left: 1rem;
            font-size: 1.4rem;
        }
    }
}