@use 'input';


main.products-menu {
    img {
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        width : 100%;
        height: 100%;
    }

    section.categories {
        display : flex;
        flex-direction: column;
        align-items: flex-start;
        margin : 1rem;

        div.category > p {
            margin-bottom: 1rem;
        }

        div.category {
            width : 100%;

            div.products {
                margin-bottom: 2rem;

                div.product-picture {
                    width: 100%;
                    height :10rem;
                    background-color: #c2c2c2;
                    border-top-right-radius: 0.5rem;
                    border-top-left-radius: 0.5rem;
                }

                div.product {
                    display : flex;
                    flex-direction: column;
                    background-color: #f5f5f5;
                    min-height: 17rem;
                    border : 1px solid #dfdfdf;
                    border-radius: .5rem;

                    div.margin-left {
                        padding-left: 5%;
                        position : relative;
                        height : 12rem;
                        background-color: white;
                        border-top: 1px solid #dfdfdf;
                    }

                    div.price-button {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: auto;
                        position : absolute;
                        bottom : 0;
                        width : 95%;

                        button p {
                            font-size : 1rem;
                            font-weight: bold;
                            color : white;
                        }
                    }

                    p.price {
                        font-size : 1.8rem;
                        font-weight: bold;
                        margin : 0 0 0.5rem 0;
                    }

                    h3 {
                        margin: 0.5rem 0 1rem 0;
                    }

                    div.price-button button {
                        background-color: #9D2525;
                        border : none;
                        border-radius: .2rem;
                        width: 50%;
                        border-bottom-right-radius: 0.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 40em) {
    main.products-menu section.categories div.category div.products {
        display : grid;
        grid-template-columns: 1fr;
        gap : 1rem;
    }
}

@media only screen and (min-width : 40em) {
    main.products-menu section.categories div.category div.products {
        display : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap : 1rem;
    }
}

@media only screen and (max-width : 64em) and (min-width: 40em) {
    main.products-menu section.categories div.category div.products {
        display : grid;
        grid-template-columns: 1fr 1fr;
        gap : 1rem;
    }
}