@use "input";

main.profil {

    section.profil-box {
        // width: 100%;
        display: grid;
        justify-content: flex-start;
        align-items: center;

        h2 {
            text-align: center;
        }

        div.profil-infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        div.order-history {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            button.invisible-button {
                width: 80%;
            }

            div.order-list {
                width: 100%;
                display : flex;
                flex-direction: row;
                justify-content: space-between;
            }
    
            div.order-list.white {
                background-color: #ffffff;
            }
        
            div.order-list.grey {
                background-color: #f0f0f0;
            }
        }
    }


}

@media only screen and (max-width : 40em) {
    
}

@media only screen and (min-width : 40em) {
    section.profil-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        gap : 2rem;
        margin : 0 2rem;

        h2 {
            grid-column: 1/3;
            grid-row: 1/2;
        }

        div.profil-infos {
            grid-column: 1/2;
            grid-row: 2/3;

            border : 2px solid #9D2525;
            border-radius: 0.5rem;

            h3 {
                margin-bottom: 1rem;
            }
        }

        div.order-history {
            grid-column: 2/3;
            grid-row: 2/3;
            border : 2px solid #9D2525;
            border-radius: 0.5rem;

            h3 {
                margin-bottom: 1rem;
            }
        }

        div.horizontal {
            grid-column: 1/3;
            grid-row: 3/4;
            // width : 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }


}