@use "input";

table {
    border : 1px solid black;
    background-color: #f5f5f5;
    margin-top: 0.5rem;

    thead {
        background-color: #9D2525;
    }

    button.param-button {
        border: none;
        width : 1.5rem;
        height: 1.5rem;
        border-radius: 0.3rem;
    }

    button.edit-button {
        background-color: blue;
    }

    button.delete-button {
        background-color: green;
    }

    select {
        margin-right: 1em;
    }

    td button.invisible-button {
        font-weight: bold;
        color: #9D2525;
        font-size: 1em;
    }

    td.product-picture div {
        height : 100%;
        display : flex;
    }

    td {
        padding: 0 1rem;
    }

    
}

@media only screen and (max-width : 40em) {
    td.small {
        display : none;
    }

    td.medium {
        display: none;
    }
}

@media only screen and (min-width : 40em) and (max-width : 64em) {
    td.medium {
        display: none;
    }
}