@use "input";

%popup {
    @extend %red-borders, %vertical;
    position : absolute;
    top : 50%;
    left : 50%;
    background-color: #f0f0f0;

    .timed {
        justify-content: center;
        align-items: center;
    }

    
}