/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  margin : 0;
  padding : 0;
  background-color: #f0f0f0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#root {
  margin : 0;
}

header {
  position: absolute;
  top : 0;
  left : 0;
  background-color: #c5140f;
  display : flex;
  flex-direction: row;
  width : 100%;
  height : 5em;
  align-items: center;
  justify-content: space-between;
}


section.popup-content div.basket-picture img.image {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  justify-content: center;
}

footer {
  margin-top: 2em;
  background-color: #c5140f;
  display : flex;
  flex-direction: row;
  width : 100%;
  height : 5em;
  align-items: center;
  justify-content: space-between;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header nav {
  display : flex;
  flex-direction: row;
  justify-content: flex start;
}

header nav a {
  text-decoration: none;
  color : black;
  margin : 0 2em;
}

header nav.Burger-user a {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1em;
}

header button {
  margin-right : 1em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color : #c5140f;
  margin-top : 1em;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
}

h3 {
  font-size: 1.4em;
}



header button {
  background-color: #c5140f;
  border : none;
}

main {
  margin-top : 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 100%;
  min-height : 44em;
}

header nav.Burger-user {
  position : fixed;
  right : 0.5em;
  top : 5em;
  display : flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.2em;
  background-color: #f0f0f0;
}

main div .background-image {
  width: 50%;
}

p.status-message {
  color : #c5140f;
  font-weight: bold;
}

main section {
  width : 90%;
}

/* /////////////////////////////////////////////////////////////////////////////////
////////////    Carte    ///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////// */
main.products-menu img.image {
  width : 100%;
  height: 100%;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
  main.products-menu section.categories div.category div.products {
    margin : 3em 0;
    display : grid;
    grid-template-columns: 1fr;
    gap : 2em;
    column-gap: 2em;
  }
  main.products-menu h2 {
    margin-top: 1em;
  }
  
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 40em) {
  main.products-menu section.categories div.category div.products {
    margin : 3em 0;
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap : 2em;
  }

  main.products-menu h2 {
    margin-top: 1em;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  main.products-menu section.categories div.category div.products {
    margin : 3em 0;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap : 2em;
  }
}

main.products-menu section.categories {
  display : flex;
  flex-direction: column;
  align-items: flex-start;
  width : 90%;
}

main.products-menu section.categories div.category {
  width : 100%;
}



main.products-menu section.categories div.category div.products div.product {
  display : flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-height: 17em;
  border : 1px solid #dfdfdf;
  border-radius: .5em;
}

main.products-menu section.categories div.category div.products div.product div.price-button button {
  background-color: #c5140f;
  border : none;
  border-radius: .2em;
  width: 50%;
  border-bottom-right-radius: 0.5em;
}

main.products-menu section.categories div.category div.products div.product h3 {
  margin: 0.5em 0 1em 0;
}

/* main.products-menu section.categories div.category div.products div.product p {
  margin-right : 0.5em;
  margin-bottom: 1em;
} */

main.products-menu section.categories div.category div.products div.product-picture {
  width: 100%;
  height :10em;
  background-color: #c2c2c2;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

main.products-menu img {
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

main.products-menu section.categories div.category div.products div.product p.price {
  font-size : 1.8em;
  font-weight: bold;
  margin : 0 0 0.5em 0;
}

main.products-menu section.categories div.category div.products div.product div.price-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  position : absolute;
  bottom : 0;
  width : 95%
}

main.products-menu section.categories div.category div.products div.product div.price-button button p {
  font-size : 1em;
  font-weight: bold;
  color : white
}

main.products-menu section.categories div.category div.products div.product div.margin-left {
  padding-left: 5%;
  position : relative;
  height : 12em;
  background-color: white;
  border-top: 1px solid #dfdfdf;
}

/* ////////////////////////////////////////////////////////////////////////////////////
///////////    Panier    //////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////// */

main.basket {
  display: grid;
  gap: 1em;
  justify-content: start;
  justify-content: start;
}

main.basket div.title {
  display : flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height : 100%
}

main.basket section.products-box-basket {
  display : flex; 
  flex-direction: column;
  width : 100%;
  align-items: flex-start;
  justify-content: flex start;
  height: 100%;
  border: 1px solid #c5140f;
  border-radius: 0.5em;
}

main.basket div.product-basket {
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width : 100%;
  height : 100%;
  border-bottom: 1px solid grey;
}

main.basket div.product-basket button.invisible-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main.basket div.product-basket button.invisible-button p {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 1em;
}

main.basket section.products-box-basket img {
  width : 10em;
  height : 5em;
}

main.basket div.quantity-basket p.red {
  font-weight: bold;
  color: #c5140f;
  font-size: 1.2em;
}

main.basket div.quantity-basket {
  display : flex; 
  flex-direction:row;
  justify-content: space-between;
  width : 40%;
}


main.basket section.order-type-selection {
  border-radius: 0.5em;
  display : flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width : 100%;
  height : 100%
}

main.basket section.order-type-selection h3 {
  margin-bottom: 0.7em;
}

main.basket section.order-type-selection div.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width : 80%;
}

main.basket section.order-type-selection button p {
  font-size: 1.3em;
}

main.basket section.delivery-address-box {
  display : flex; 
  flex-direction: column;
  align-items: center;
  height: 100%;
  width : 100%
}

main.basket section.delivery-address-box h3 {
  margin-bottom: 1em;
}

main.basket section.delivery-address-box form {
  border-radius: 0.3em;
  display : flex;
  flex-direction: column;
  align-items: center;
  width : 80%
}

main.basket section.delivery-address-box form input {
  width : 70%;
  height: 2em;
  background-color: #ffffff;
  border : 1px solid #c5140f;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding-left: 1em;
}

main.basket section.delivery-address-box p {
  margin-bottom: 0.5em;
}

main.basket section.comment-box {
  height: 100%;
  width : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.basket section.comment-box textarea {
  width: 80%;
  height : 80%;
}

main.basket section.button-box {
  width: 100%;
  height: 100%;
  display : flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.basket section.button-box h3 {
  margin-bottom: 1em;
}

main.basket section.button-box button {
  /* width : 10em;
  height: 4em; */
  font-size: 1.3em;
}

@media only screen and (max-width : 64em) {
  main.basket {
    grid-template-columns: 1fr;
    padding : 0 2.5%;
    width: 95%;
  }

  main.basket section.products-box-basket {
    border : none;
    border-top : 1px solid #c5140f;
    border-radius: 0px;
  }

  main.basket section.products-box-basket img {
    width : 8em;
  }
  
  main.basket section.product-details {
    top : 15em;
    left: 0;
    width : 100%;
    border-radius: 0;
    border : none;
    border-top: 1px solid #c5140f;
    border-bottom: 1px solid #c5140f;
  }

  main.basket section.product-details img.image {
    width : 95%;
  }
}

@media only screen and (min-width : 64em) {
  main.basket {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap : 1em;
  }

  main.basket div.title {
    grid-row: 1;
    grid-column: 1/7;
  }

  main.basket section.products-box-basket {
    grid-row: 2/5;
    grid-column: 1/5;
  }

  main.basket section.order-type-selection {
    grid-row: 2/3;
    grid-column: 5/7;
  }

  main.basket section.delivery-address-box {
    grid-row: 3/5;
    grid-column: 5/7;
  }

  main.basket section.comment-box {
    grid-row : 5/7;
    grid-column: 1/5;
  }

  main.basket section.button-box {
    grid-row: 5/7;
    grid-column: 5/7;
  }
}




/* ////////////////////////////////////
////////        Login        //////////
//////////////////////////////////// */
@media only screen and (max-width: 40em) {
  main.login form {
    width : 100%;
    border-bottom: none;
    background-color: #f0f0f0;
  }

  main.login {
    height : 100%
  }
}

@media only screen and (min-width : 40em) {
  main.login form {
    width : 50%;
    border : 1px solid #c5140f;
    background-color: #f5f5f5;
    box-shadow: 0.2em 0.2em 0.2em #c2c2c275;
  }
}

@media only screen and (min-width : 64em) {
  main.login form {
    width : 30em;
    border : 1px solid #c5140f;
    background-color: #f5f5f5;
    box-shadow: 0.2em 0.2em 0.2em #c2c2c275;
  }
}

main.login form {
  margin-top: 3em;
  border-radius: 0.3em;
  display : flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 1em 0 1em;
}

main.login form input {
  width : 70%;
  height: 2em;
  background-color: #ffffff;
  border : 1px solid #c5140f;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding-left: 1em;
}

main.login p.status-message {
  margin-bottom: 1em;
}

main.login form input::placeholder {
  font-weight: bold;
}

main.login form div.horizontal input {
  width : auto;
  height : auto;
  margin : 0 0.5em 0 0;
}

main.login form button {
  width : 60%;
  height: 2em;
  border : none;
  border-radius: 0.3em;
  background-color: #c5140f;
  margin-top: 1em;
}

main.login form div.connexion-navigation {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

main.login form div.connexion-navigation p {
  margin-bottom: 0.2em;
}

button.forgot {
  margin-bottom: 1em;
}

main.login div.button-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 2em;
}

main.login div.button-box button {
  width : 40%
}

main.login section.profil-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.login h3 {
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
}

main.login h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

main.login section.profil-box div.profil-infos {
  border : 1px solid #c5140f;
  border-radius: 0.3em;
  display : flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
  min-width: 20%;
  background-color: #f5f5f5;
  box-shadow: 0.2em 0.2em 0.2em #c2c2c275;
}

main.login section.profil-box button {
  /* width : 60%; */
  /* height: 2em; */
  border : none;
  border-radius: 0.3em;
  background-color: #c5140f;
  margin-top: 1em;
  padding: 1em 2em;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////
///////////    Administration    //////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////// */
main.administration section.list-box {
  display : flex;
  flex-direction: column;
  /* align-items: center; */
}

main.administration section.list-box table {
  border : 1px solid black;
  padding : 0;
  background-color: #f5f5f5;
  margin : 1em 0 0 0;
}

main.administration section.list-box table thead {
  background-color: #c5140f;
  margin : 0;
}

main.administration section.list-box table button.param-button {
  border: none;
  width : 1.5em;
  height: 1.5em;
  border-radius: 0.3em;
  margin : 0.2em;
  padding: 0.2em;
}

main.administration section.list-box table button.edit-button {
  background-color: blue;
}

main.administration section.list-box table button.delete-button {
  background-color: green;
}

main.administration section.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width : 50%;
  height : 3em;
  margin-top: 0.8em;
}

main.administration section.button-box button {
  width: 10em;
  height : 2.5em;
  font-size: 1em;
  font-weight: bold;
}

main.administration section.list-box button.add-button {
  width: 15em;
  height : 2.0em;
  font-size: 1em;
  font-weight: bold;
}

main.administration section.list-box table select {
  margin-right: 1em;
}

main.administration img.image {
  height : 2em;
} 

section.popup-content div.basket-picture {
  width : 100%
}

section.popup-content p {
  margin-bottom: 0.5em;
}

main.administration section.popup-content img {
  width : 100%;
  height : 5em;
}

main.administration td.product-picture div {
  height : 100%;
  display : flex;
}

main.administration td button.invisible-button {
  font-weight: bold;
  color: #c5140f;
  font-size: 1em;
}

@media only screen and (min-width : 40em) and (max-width : 64em) {
  main.administration td.medium {
    display: none;
  }
  main.administration section.button-box {
    width : 90%
  }
}

@media only screen and (max-width : 40em) {
  main.administration td.small {
    display : none;
  }
  main.administration td.medium {
    display: none;
  }
  main.administration section.button-box {
    width : 90%
  }
  main.administration section.list-box button.add-button {
    width: 100%;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////
//////    popup-add-product    ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////// */
section.popup-add-product {
  position : absolute;
  top : 15em;
  background-color: transparent;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.administration section.list-box section.popup-add-product form.classic-form h1 {
  margin : 0 0 0.5em 0;
}

main.administration section.list-box section.popup-add-product form.classic-form {
  border : 1px solid #c5140f;
  border-radius: 0.3em;
  display : flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 1em 0 1em;
  min-width: 20%;
  background-color: #f5f5f5;
  box-shadow: 0.2em 0.2em 0.2em #c2c2c275;
}

main.administration section.list-box section.popup-add-product form.classic-form input {
  width : 70%;
  height: 2em;
  background-color: #ffffff;
  border : 1px solid #c5140f;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding-left: 1em;
}

main.administration section.list-box section.popup-add-product form.classic-form select {
  width : 75%;
  height: 2em;
  background-color: #ffffff;
  border : 1px solid #c5140f;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding-left: 1em;
}

main.administration section.list-box section.popup-add-product form.classic-form input::placeholder {
  font-weight: bold;
}


main.administration section.list-box section.popup-add-product form.classic-form button.two {
  font-size: 1em;
  font-weight: bold;
  width : 7em;
  height: 2em;
  border-radius: 0.3em;
  margin-top: 1em;
}

main.administration section.list-box section.popup-add-product form.classic-form div.button-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width : 70%;
  margin-bottom : 1em;
}

div.timed-small-popup {
  position: fixed;
  bottom: 3em;
  right: 3em;
  background-color: #c2c2c2;
}


section.product-details {
  position : fixed;
  z-index : 2;
  top : 15em;
  left : 35%;
  width : 30%;
  border : 1px solid #c5140f;
  border-radius: 0.5em;
  display : flex;
  flex-direction: column;
  align-items: center;
  padding : 1em;
  background-color: #f5f5f5;
  box-shadow: 0.2em 0.2em 0.2em #c2c2c275;
}

section.product-details section.popup-content {
  display : flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section.product-details h1 {
  margin : 0 0 0.6em 0;
}

section.product-details div.basket-picture {
  width : 100%;
  margin-bottom : 0.6em;
}

section.product-details h3 {
  margin-top: 0.6em;
  width : 90%;
}

section.product-details button {
  margin-top : 2em;
}

main.administration section.product-details ul {
  width : 90%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////
//////    Général     ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////// */


button.button-white {
  background-color: #ffffff;
  border: 0.1em solid #c5140f;
  border-radius: 0.3em;
}

button.button-white-selected {
  background-color: grey;
  border: 0.1em solid #c5140f;
  border-radius: 0.3em;
}

button.button-red {
  background-color: #c5140f;
  border: none;
  border-radius: 0.3em;
}

button.invisible-button {
  border : none;
  background-color: transparent;
  display : flex;
  align-items: start;
}

button:hover {
  cursor: pointer;
}




main div.map-box {
  position: relative;
  width: 90%;
  height: 25em;
  background-color: grey;
  border-radius: 0.2em;
  border : 0.1em solid #c5140f
}

/* main div.map-box * {
  position : static;
  width: 100%;
  height : 100%
} */


.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display : flex;
  flex-direction: column;
}

main.home div.horizontal {
  width: 90%;
  justify-content: space-between;
  margin-top : 3em;
}

main.home section {
  width : 50%
}

@media only screen and (max-width : 40em) {
  main.home div.horizontal {
    display : flex;
    flex-direction: column;
  }

  main.home section {
    width : 100%;
  }

  main.home div.map-box {
    width : 100%;
  }
} 

.popup {
  position : fixed;
  z-index: 2;
  top : 30%;
  left : 30%;
  background-color: #f0f0f0;
  border : 0.1em solid #c5140f;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 40%;
}

div.timed-small-popup div.popup {
  position : fixed;
  z-index: 100;
  top : 45%;
  left : 45%;
  width : 10em;
  height : 4em;
  background-color: #f0f0f0;
  border : 0.1em solid #c5140f;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.popup h3 {
  color: #c5140f;
  margin: 0.4em 0;
}

section.popup p {
  margin : 0 0.5em 0.5em 0.5em;
}

div.banner {
  width: 100%;
  height : 15em;
}

div.banner img.image-banner {
  width: 100%;
  height : 100%;
}

main.home h1 {
  margin-top: 0.3em;
}

/* main.home div.horizontal section {
  width : 50%;
} */

main.home section.horaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 1em;
}

main.home h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

main.home section p {
  margin-bottom: 0.5em;
}

main.home section.content {
  display : flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

