/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=Rethink+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  margin: 0;
  padding: 0;
  background-color: #D9D9D9;
  font-family: "Rethink Sans", sans-serif;
}

@media only screen and (max-width: 40em) {
  main {
    margin-top: 5rem;
  }
  html {
    font-size: 15px;
  }
  div.title-box {
    height: 8rem;
  }
}
@media only screen and (min-width: 40em) {
  html {
    font-size: 20px;
  }
  div.title-box {
    height: 4rem;
  }
}
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.title-box {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
}

em {
  font-weight: bold;
}

h1 {
  color: #9D2525;
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

h3 {
  font-size: 2.3rem;
  font-weight: bold;
}

footer, header nav.Burger-user, main.login, form, form div.connexion-navigation, div.title-box {
  display: flex;
  flex-direction: column;
}

main.home, header, header nav, form div.button-box {
  display: flex;
  flex-direction: row;
}

div.timed-small-popup, header nav.Burger-user, form, form input {
  border: 1px solid #9D2525;
  border-radius: 0.5rem;
}

button.button-white {
  background-color: #ffffff;
  border: 1px solid #9D2525;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 1rem;
}

button.button-white-selected {
  background-color: grey;
  border: 1px solid #9D2525;
  border-radius: 0.4rem;
  font-size: 1rem;
}

button.invisible-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: start;
}

button:hover {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

form {
  border-radius: 0.4rem;
  align-items: center;
  margin-bottom: 2rem;
}
form input {
  border-radius: 0.4rem;
  background-color: #fff;
  padding-left: 1rem;
}
form input::placeholder {
  font-weight: bold;
}
form div.connexion-navigation {
  margin-top: 1rem;
}
form div.button-box {
  justify-content: space-between;
  width: 70%;
  margin-top: 1rem;
}
form div.button-box button {
  width: 40%;
}
form label {
  margin-top: 0.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #D9D9D9;
  }
  form button {
    width: 15rem;
    height: 2rem;
  }
  form input {
    width: 17rem;
    height: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  form {
    background-color: #f0f0f0;
    box-shadow: 0px 4px 4px 0px black;
    width: 30rem;
    height: auto;
  }
  form input {
    width: 25rem;
    height: 2rem;
  }
  form button {
    width: 20rem;
    height: 2.5rem;
  }
}
main.login {
  align-items: center;
}
main.login form button {
  margin-top: 1rem;
}
main.login div.connexion-navigation {
  margin-bottom: 1rem;
}

footer {
  margin-top: auto;
  background-color: #9D2525;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 1rem;
  text-align: center;
}

header {
  background-color: #9D2525;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1rem;
}
header nav.Burger-user {
  position: absolute;
  right: 0.5em;
  top: 5rem;
  background-color: #ffffff;
}
header nav.Burger-user a {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

@media only screen and (max-width: 40em) {
  header {
    position: fixed;
    z-index: 2;
  }
  header nav.movable {
    width: 80%;
    justify-content: space-around;
  }
  header button {
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 40em) {
  header nav.movable {
    width: 50%;
    justify-content: flex-start;
  }
  header button {
    margin-right: 1rem;
  }
}
main.home {
  flex-wrap: wrap;
}
main.home h2 {
  margin-bottom: 0.5rem;
}
main.home p {
  margin-bottom: 0.1rem;
}
main.home div.map-box {
  position: relative;
  width: 100%;
  height: 25rem;
  background-color: grey;
  border-radius: 0.2em;
  border: 1px solid #9D2525;
}
main.home div.banner {
  width: 100%;
  height: 15rem;
}
main.home div.banner img.image-banner {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  main.home div.banner {
    display: none;
  }
  main.home section.map, main.home section.horaires {
    width: 100%;
    margin: 0 1rem 1rem 1rem;
  }
  main.home div.map-box {
    height: 20rem;
  }
}
@media only screen and (min-width: 600px) {
  main.home section.map, main.home section.horaires {
    width: 40%;
    margin: 0 5%;
    margin-bottom: 1rem;
  }
  main.home div.map-box {
    height: 20rem;
  }
}
main.products-menu img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
main.products-menu section.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}
main.products-menu section.categories div.category > p {
  margin-bottom: 1rem;
}
main.products-menu section.categories div.category {
  width: 100%;
}
main.products-menu section.categories div.category div.products {
  margin-bottom: 2rem;
}
main.products-menu section.categories div.category div.products div.product-picture {
  width: 100%;
  height: 10rem;
  background-color: #c2c2c2;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
main.products-menu section.categories div.category div.products div.product {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-height: 17rem;
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
}
main.products-menu section.categories div.category div.products div.product div.margin-left {
  padding-left: 5%;
  position: relative;
  height: 12rem;
  background-color: white;
  border-top: 1px solid #dfdfdf;
}
main.products-menu section.categories div.category div.products div.product div.price-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 95%;
}
main.products-menu section.categories div.category div.products div.product div.price-button button p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
main.products-menu section.categories div.category div.products div.product p.price {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
main.products-menu section.categories div.category div.products div.product h3 {
  margin: 0.5rem 0 1rem 0;
}
main.products-menu section.categories div.category div.products div.product div.price-button button {
  background-color: #9D2525;
  border: none;
  border-radius: 0.2rem;
  width: 50%;
  border-bottom-right-radius: 0.5rem;
}

@media only screen and (max-width: 40em) {
  main.products-menu section.categories div.category div.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media only screen and (min-width: 40em) {
  main.products-menu section.categories div.category div.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
@media only screen and (max-width: 64em) and (min-width: 40em) {
  main.products-menu section.categories div.category div.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
div.timed-small-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 1rem;
  background-color: #fff;
  min-height: 2rem;
}
div.timed-small-popup p {
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  div.timed-small-popup {
    left: 50%;
    margin-left: -30%;
    width: 60%;
  }
}
@media only screen and (min-width: 600px) {
  div.timed-small-popup {
    left: 50%;
    margin-left: -15%;
    width: 30%;
  }
}
.big-popup {
  position: fixed;
  z-index: 2;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 40em) {
  .big-popup {
    top: 8%;
    left: 0;
    height: 92%;
    width: 100%;
  }
  .big-popup div.basket-picture {
    width: 100%;
  }
  .big-popup div.basket-picture img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    border-radius: 1rem;
  }
  .big-popup h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .big-popup p {
    margin-left: 1rem;
    font-size: 1.4rem;
  }
  .big-popup button {
    position: fixed;
    z-index: 3;
    bottom: 2rem;
    width: 50%;
    height: 3rem;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 40em) {
  .big-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #9D2525;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .big-popup div.basket-picture {
    text-align: center;
    width: 100%;
  }
  .big-popup div.basket-picture img {
    width: 65%;
    height: auto;
    border-radius: 1rem;
  }
  .big-popup h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .big-popup p {
    margin-left: 1rem;
    font-size: 1.4rem;
  }
}
main.basket h2 {
  text-align: center;
}
main.basket h3 {
  margin-left: 1rem;
  color: #9D2525;
  font-size: 1.7rem;
}
main.basket div.vertical em {
  align-items: center;
}
main.basket div.price {
  margin-right: 1rem;
}
main.basket section.products-box-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex start;
  padding: 1rem;
}
main.basket section.products-box-basket h2 {
  margin-bottom: 1rem;
}
main.basket section.products-box-basket img.background-img {
  width: auto;
  height: 4rem;
}
main.basket section.products-box-basket div.order-list.white {
  background-color: #ffffff;
}
main.basket section.products-box-basket div.order-list.grey {
  background-color: #f0f0f0;
}
main.basket section.products-box-basket div.product-basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}
main.basket section.products-box-basket div.product-basket button.invisible-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
main.basket section.products-box-basket div.product-basket button.invisible-button p {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 1em;
}
main.basket section.products-box-basket div.product-basket div.quantity-basket {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
main.basket section.products-box-basket div.product-basket div.quantity-basket p.red {
  font-weight: bold;
  color: #c5140f;
  font-size: 1.2em;
}
main.basket section.order-type-selection {
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
main.basket section.order-type-selection h3 {
  margin-bottom: 0.7em;
}
main.basket section.order-type-selection div.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
main.basket section.order-type-selection button {
  width: 8rem;
  height: 2rem;
}
main.basket section.order-type-selection button p {
  font-size: 1.3em;
}
main.basket section.delivery-address-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
main.basket section.delivery-address-box div.map-box {
  position: relative;
  height: 15rem;
  width: 90%;
  background-color: grey;
  border-radius: 0.2em;
  border: 1px solid #9D2525;
}
main.basket section.delivery-address-box h3 {
  margin-bottom: 1em;
}
main.basket section.delivery-address-box p {
  margin-bottom: 0.5em;
}
main.basket section.delivery-address-box form {
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
main.basket section.delivery-address-box form input {
  width: 70%;
  height: 2em;
  background-color: #ffffff;
  border: 1px solid #9D2525;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding-left: 1em;
}
main.basket section.comment-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.basket section.comment-box textarea {
  width: 80%;
  height: 2.2rem;
}
main.basket section.comment-box textarea::placeholder {
  font-weight: bold;
}
main.basket section.button-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.basket section.button-box h3 {
  margin-bottom: 1em;
}
main.basket section.button-box button {
  height: 4rem;
  font-size: 1.3em;
}

@media only screen and (max-width: 40em) {
  main.basket {
    display: flex;
    flex-direction: column;
  }
  main.basket div.title-box {
    width: 100%;
    height: 5rem;
  }
  main.basket section {
    margin-bottom: 1rem;
  }
  main.basket section.products-box-basket img.background-img {
    width: auto;
    height: 2rem;
  }
  main.basket section.order-type-selection {
    margin-bottom: 2rem;
  }
  main.basket section.comment-box textarea {
    height: 4rem;
  }
}
@media only screen and (min-width: 40em) {
  main.basket {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2rem 5rem 10rem 10rem 10rem 2rem;
    padding: 0 1rem;
    display: grid;
    gap: 3rem;
    justify-content: start;
    justify-content: start;
  }
  main.basket section.products-box-basket {
    grid-row: 2/5;
    grid-column: 1/4;
    border: 2px solid #9D2525;
    box-shadow: 0px 4px 4px 0px black;
    border-radius: 1rem;
    width: 100%;
  }
  main.basket div.title-box {
    grid-row: 1;
    grid-column: 1/6;
    margin-bottom: 0;
  }
  main.basket section.order-type-selection {
    grid-row: 2/3;
    grid-column: 4/6;
  }
  main.basket section.delivery-address-box {
    grid-row: 3/5;
    grid-column: 4/6;
  }
  main.basket section.comment-box {
    grid-row: 5/7;
    grid-column: 1/4;
  }
  main.basket section.button-box {
    grid-row: 5/7;
    grid-column: 4/6;
  }
}
main.payment {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.payment #card-element-id {
  width: 70%;
  height: 2rem;
}
main.payment div.title-box {
  height: 5rem;
}
main.payment section.recap, main.payment section.address {
  border: 2px solid #9D2525;
  box-shadow: 0px 4px 4px 0px black;
  border-radius: 1rem;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
main.payment section.recap h2, main.payment section.address h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
main.payment section.recap h2 + p, main.payment section.address h2 + p {
  text-align: center;
  font-weight: bold;
  color: #9D2525;
  margin-bottom: 0.5rem;
}
main.payment section.recap div, main.payment section.address div {
  margin-bottom: 0.5rem;
}
main.payment section.recap h3, main.payment section.address h3 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  main.payment section.recap, main.payment section.address {
    max-width: 40%;
  }
}
main.profil section.profil-box {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}
main.profil section.profil-box h2 {
  text-align: center;
}
main.profil section.profil-box div.profil-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main.profil section.profil-box div.order-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main.profil section.profil-box div.order-history button.invisible-button {
  width: 80%;
}
main.profil section.profil-box div.order-history div.order-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main.profil section.profil-box div.order-history div.order-list.white {
  background-color: #ffffff;
}
main.profil section.profil-box div.order-history div.order-list.grey {
  background-color: #f0f0f0;
}

@media only screen and (min-width: 40em) {
  section.profil-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 2rem;
    margin: 0 2rem;
  }
  section.profil-box h2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  section.profil-box div.profil-infos {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid #9D2525;
    border-radius: 0.5rem;
  }
  section.profil-box div.profil-infos h3 {
    margin-bottom: 1rem;
  }
  section.profil-box div.order-history {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px solid #9D2525;
    border-radius: 0.5rem;
  }
  section.profil-box div.order-history h3 {
    margin-bottom: 1rem;
  }
  section.profil-box div.horizontal {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
main.administration {
  width: 100%;
}
main.administration section.list-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1rem;
}
main.administration section.list-box button.add-button {
  width: 15em;
  height: 2em;
  font-size: 1em;
  font-weight: bold;
}
main.administration section.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-left: 5%;
  min-height: 3rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
main.administration section.button-box button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
}
main.administration img.image {
  height: 2rem;
}

@media only screen and (min-width: 40em) and (max-width: 64em) {
  main.administration td.medium {
    display: none;
  }
}
@media only screen and (max-width: 40em) {
  main.administration td.small {
    display: none;
  }
  main.administration td.medium {
    display: none;
  }
  main.administration section.button-box button {
    width: 8rem;
  }
}
table {
  border: 1px solid black;
  background-color: #f5f5f5;
  margin-top: 0.5rem;
}
table thead {
  background-color: #9D2525;
}
table button.param-button {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.3rem;
}
table button.edit-button {
  background-color: blue;
}
table button.delete-button {
  background-color: green;
}
table select {
  margin-right: 1em;
}
table td button.invisible-button {
  font-weight: bold;
  color: #9D2525;
  font-size: 1em;
}
table td.product-picture div {
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 40em) {
  td.small {
    display: none;
  }
  td.medium {
    display: none;
  }
}
@media only screen and (min-width: 40em) and (max-width: 64em) {
  td.medium {
    display: none;
  }
}
main.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.orders section {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=final.css.map */
